server {
listen 80;
server_name openstack.foo.com;
access_log {{ snap_common }}/log/nginx/horizon/access.log;
error_log {{ snap_common }}/log/nginx/horizon/error.log;

location / { try_files  \$uri @horizon; }
location @horizon {
    uwsgi_pass unix:{{ snap_common }}/run/horizon.sock
    include uwsgi_params;
    uwsgi_param      SCRIPT_NAME   '';
}
location /static {
  alias {{ snap_common }}/www/static;
}
